{
  "plugins": ["./node_modules/prettier-plugin-organize-imports"],
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 150,
  "bracketSpacing": true,
  "jsxBracketSameLine": false
}
